@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

.body-home {
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  min-width: 375px;
}

.container {
  max-width: 1350px;
  min-width: 375px;
  margin: 0 auto;
  padding: 0 15px;
}

a {
  text-decoration: none;
}

ul {
  padding-left: 0;
  list-style: none;
}

.hamburger {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 4px;
  width: 18px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 20px auto;
}

.hamburger hr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 2px;
  border: none;
  background: #fff;
  margin: 0 0 0 auto;
}

.header-hamburger {
  display: inline-block;
  width: 19px;
}

.header-top__language-swith {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-top__language-swith a {
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 1px;
  color: #FFFFFF;
  text-transform: uppercase;
  padding: 5px 7px;
  display: inline-block;
}

.language-swith__link:not(:last-of-type):hover {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
}

.language-swith__link:nth-child(3) {
  background-color: #F0145A;
  border-radius: 8px;
}

.header-top__adres,
.face-boock {
  display: none;
}

.header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 15px;
  margin-top: 9px;
  margin-bottom: 10px;
}

.phone {
  -ms-flex-item-align: center;
      align-self: center;
}

.header-home__background {
  background-image: url(../img/svg/Homepage/Assets/symbolh.svg), linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
  background-repeat: no-repeat, repeat;
  background-position: center top, center center;
  background-size: 524px 600px, cover;
  background-color: #323264;
}

.header-home {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: -webkit-min-content -webkit-min-content;
  grid-template-rows: min-content min-content;
}

.header-top-background {
  grid-column: span 2;
  background: rgba(245, 245, 250, 0.2);
  margin: 0 -15px;
}

.header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home__tittle-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 126px;
  padding: 0 79px;
}

.home__tittle {
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  text-align: center;
  color: #FFFFFF;
}

.home__scroll-dawn-button {
  text-align: center;
  margin-top: 158px;
}
.home__scroll-dawn-button:hover path {
  stroke: #F0145A;
}
.home__scroll-dawn-button:hover circle {
  stroke: #F0145A;
}
/*# sourceMappingURL=style.css.map */
