@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Montserrat";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

.container {
  max-width: 1350px;
  min-width: 375px;
  margin: 0 auto;
  padding: 0 15px;
}

a {
  text-decoration: none;
}

ul {
  padding-left: 0;
  list-style: none;
}

.header-home__background {
  background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
  background-repeat: no-repeat;
}

.header-home__background-h {
  background-image: url(../img/svg/Homepage/Assets/symbolh.svg);
  background-repeat: no-repeat;
}

.header-home {
  display: grid;
  grid-template-columns: 1fr -webkit-min-content;
  grid-template-columns: 1fr min-content;
  grid-template-rows: -webkit-min-content -webkit-min-content;
  grid-template-rows: min-content min-content;
}

.header-home__top {
  grid-column: span 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: rgba(245, 245, 250, 0.2);
  margin: 0 -15px;
  padding-top: 11.5px;
  padding-bottom: 8px;
}

.header-home__tell {
  font-size: 16px;
  line-height: 20px;
  text-align: right;
  color: #FFFFFF;
  padding-right: 15px;
  margin-top: 3px;
}

.header-home__navigation-word,
.header-home__top-adress,
.header-home__logo-fb {
  display: none;
}

.header__logo {
  margin-left: -2px;
  margin-bottom: 127px;
}

.header-home__lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1px;
}

.header-home__lang li {
  display: inherit;
}

.header-home__lang li:nth-child(1) {
  padding-left: 13px;
}

.header-home__lang li a {
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 1px;
  color: #FFFFFF;
  text-transform: uppercase;
  padding: 5px 7px;
  border-radius: 8px;
}
.header-home__lang li a:hover {
  background-color: #F0145A;
}

.header-home__burger-bottom {
  background: none;
  border: none;
  cursor: pointer;
  margin-top: 11px;
  padding-right: 0px;
}

.header-home__tittle {
  font-size: 38px;
  line-height: 46px;
  text-align: center;
  color: #FFFFFF;
  margin-left: 64px;
  padding-bottom: 157px;
}

.main-home__scroll-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.scroll {
  margin-bottom: 57px;
}
.scroll:hover path {
  stroke: #F0145A;
}
.scroll:hover circle {
  stroke: #F0145A;
  opacity: 0.5;
}

.main-home__under-h-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}

.main-home__under-h-menu a {
  font-size: 30px;
  line-height: 37px;
  color: #B3B3BA;
  padding-left: 30px;
}
.main-home__under-h-menu a:hover {
  background: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  -ms-flex-positive: 0;
      flex-grow: 0;
}

.main-home__under-h-menu a:nth-child(3) {
  display: none;
}

.main-home__under-h-menu a:nth-child(4) {
  display: none;
}

.oriented {
  display: none;
}

.main-rectangle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 30px;
}

.main-text-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 29px;
}

.main-text-block-top, .main-text-block-bottom {
  max-width: 315px;
}

.main-block-before-article-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-text-block-top {
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  padding-bottom: 29px;
}

.main-text-block-bottom {
  font-weight: 400;
  font-size: 19px;
  line-height: 30px;
  color: #FFFFFF;
}

.main-block-before-article-card-link {
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24A3FF;
}
.main-block-before-article-card-link::after {
  content: url(../img/svg/Homepage/Assets/Vector\ 2main-card-link-arrow.svg);
  padding-left: 5.5px;
}

.main-block-before-article-card-text {
  font-size: 30px;
  line-height: 37px;
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  max-width: 315px;
  margin-top: 9px;
}

.body--about {
  background: none;
}

.header-about__top {
  background-color: #F5F5FA;
  margin: 0 -15px;
}
/*# sourceMappingURL=style.css.map */
