.__header-top-about-background{
  background: #F5F5FA;
  }
._phone__about {
  color: #B3B3BA;
}
._language-swith__link__about a{
  color: #B3B3BA;
}
._language-swith__link__about__white a {
  color: white;
}