.footer__box {
  padding: 15px;
  border-top: 2px solid #E6E6F0;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}
.footer__box-wrapper {
  padding: 0 15px;
  padding-bottom: 15px;
}
.box__adres {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #323264;
  align-self: center;
  padding-top: 15px;
}
.box__map-link {
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24A3FF;
  padding-top: 10px;
  padding-bottom: 21px;

}
.box__phone {
  font-size: 16px;
  line-height: 20px;
  text-align: right;
  color: #46466E;
  padding-top: 7px;
}
.box__mail {
  font-size: 16px;
  line-height: 20px;
  color: #24A3FF;
  padding-top: 10px;
}
.box__copyright {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #B3B3BA;
  padding-top: 29px;
}