.header-home__background {
  background-image:
    url(../img/svg/Homepage/Assets/symbolh.svg),
    $super_soft_gradient;
  background-repeat: no-repeat,repeat;
  background-position: center top, center center;
  background-size: 524px 600px, cover;
  background-color: $main;
  border-radius: 0 0 12px 12px;
  position: relative;
  &::after {
    content: '';
    background-color: #CACADB;
    height: 10px;
    position: absolute;
    bottom: -10px;
    left: 20px;
    right: 20px;
    border-radius: 0 0 12px 12px;
  }
  &::before {
    content: '';
    background-color: #E7E7F2;
    height: 20px;
    position: absolute;
    bottom: -20px;
    left: 40px;
    right: 40px;
    border-radius: 0 0 12px 12px;
  }
}
.header-home {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: min-content min-content;
}
.header-top-background {
  grid-column: span 2;
  background: rgba(245, 245, 250, 0.2);
  margin: 0 -15px;
}
.header-menu {
  display: flex;
  align-items: center;
}
.header-menu__not-mobile {
  background: white;
  padding: 12px;
  position: absolute;
  right: 0;
  width:100%;
  top: 0px;
  z-index: 1;
}
.header-menu__not-mobile li:not(:last-child) {
  margin-bottom: 15px;

}
.header-menu__not-mobile a {
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #24A3FF;
  border-radius:12px;
  display: block;
  padding: 7px 15px;
  background-color: #F5F5FA;

}
.not-mobile_none {
  right:100%;
}
.logo-adaptive {
  height: auto;
  max-width:100%;
}

