.they-trust-us__tittle {
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #323264;
  display: flex;
  justify-content: center;
  padding-bottom: 29px;
}