.They-trust-us__box {
  display: grid;
  grid-template-columns: 1fr;
}
.box__logo {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;

}
._logo-color-01 {
  background: #1C4280;
}

._logo-color-02 {
  background: #143646;
}
._logo-color-03 {
  background: #FD9339;
}
._logo-color-04 {
  background: #9E4DC3;
}
._logo-color-05 {
  background: #FD9339;
}
._logo-color-06 {
  background: #E2E2E4;
}

// tanlet
._logo-color-tablet01 {
  background: #C71C36;
}
._logo-color-tablet02 {
  background: #DCF3F9;
}
._logo-color-tablet03{
  background: #EAEAEA;
}
._logo-color-tablet04{
  background: #282240;
}
._logo-color-tablet05{
  background: #1D4568;
}
._logo-color-tablet06{
  background: #000000;
}
.tablet-card-non {
  display: none;
}